Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

change page comment
  package-lock.json
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

add oauth page (#217)
  package-lock.json
  package.json
  src/components/shared/form/reset-password.tsx
  src/pages/magic-login.tsx
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

add response time profiling code, add profile to /projects
  .env.next
  .env.release
  package-lock.json
  package.json
  src/api/index.ts
  src/api/profiling-service.ts
  src/api/service-resolver.ts
  src/components/projects/project-gallery/project-gallery.tsx
  src/mocks/index.ts
  src/mocks/mock-profiling-service.ts
  src/utils/index.ts
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

add profiling api endpoint
  .env.next
  .env.release
Due: none

remove report name assignment from startTimeRecord method
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

remove explicit return from startRimeRecord method
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.17
  package.json
Due: npm run format:precommit

add response time profiling code, add response time profiling to /projects (#222)
  .env.next
  .env.release
  package-lock.json
  package.json
  src/api/index.ts
  src/api/profiling-service.ts
  src/api/service-resolver.ts
  src/components/projects/project-gallery/project-gallery.tsx
  src/mocks/index.ts
  src/mocks/mock-profiling-service.ts
  src/utils/index.ts
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

adjust profiler to record response times for all endpoints
  package-lock.json
  src/api/http-client.ts
  src/components/projects/project-gallery/project-gallery.tsx
Due: npm run format:precommit, npm run lint:fix

adjust profiler to record response times for all endpoints (#225)
  package-lock.json
  src/api/http-client.ts
  src/components/projects/project-gallery/project-gallery.tsx
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.18
  package.json
Due: npm run format:precommit

bump version -> v1.0.18 (#226)
  package.json
Due: npm run format:precommit

move profiling code to individual service classes
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/http-client.ts
  src/api/stack-exchange-service.ts
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

move profiling code to individual service classes (#227)
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/http-client.ts
  src/api/stack-exchange-service.ts
  src/utils/profiling-utils.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.19
  package.json
Due: npm run format:precommit

bump version -> v1.0.19 (#228)
  package.json
Due: npm run format:precommit

add route for project workspace, add placeholder component for project workspace
  src/api/api-service.ts
  src/components/projects/index.ts
  src/components/projects/project-gallery/index.ts
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/projects/projects-gallery/__tests__/projects-gallery.spec.tsx
  src/components/projects/projects-gallery/card-button.tsx
  src/components/projects/projects-gallery/card-tags.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/components/projects/projects-gallery/card.tsx
  src/components/projects/projects-gallery/panel.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/feedback.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/index.ts
  src/pages/projects.tsx
Due: npm run format:precommit, npm run lint:fix

add test for project workspace
  src/components/projects/project-workspace/project-workspace.spec.tsx
Due: npm run format:precommit, npm run lint:fix

add route for project workspace, add placeholder component for projec… (#231)
  src/api/api-service.ts
  src/components/projects/index.ts
  src/components/projects/project-gallery/index.ts
  src/components/projects/project-workspace/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/projects/projects-gallery/__tests__/projects-gallery.spec.tsx
  src/components/projects/projects-gallery/card-button.tsx
  src/components/projects/projects-gallery/card-tags.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/components/projects/projects-gallery/card.tsx
  src/components/projects/projects-gallery/panel.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/feedback.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/index.ts
  src/pages/projects.tsx
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.20
  package-lock.json
  package.json
Due: npm run format:precommit

bump version -> v1.0.20 (#232)
  package-lock.json
  package.json
Due: npm run format:precommit

bump gatsby package version -> 2.24.47
  package-lock.json
  package.json
Due: npm run format:precommit

bump gatsby package version -> 2.24.47 (#233)
  package-lock.json
  package.json
Due: npm run format:precommit

bump prismjs and app version
  package-lock.json
  package.json
Due: npm run format:precommit

bump prismjs and app version (#234)
  package-lock.json
  package.json
Due: npm run format:precommit

remove references to project types
  package-lock.json
  package.json
  src/api/api-service.ts
  src/api/types/index.ts
  src/api/types/project-types.ts
  src/api/types/project.ts
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/shared/form/create-project.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/create-project.ts
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/get-project-types.ts
  src/mocks/responses/get-projects-response.ts
  src/mocks/responses/index.ts
Due: npm run format:precommit, npm run lint:fix

fix create-project test
  src/components/shared/form/__tests__/create-project.spec.tsx
Due: npm run format:precommit, npm run lint:fix

remove references to project types (#235)
  package-lock.json
  package.json
  src/api/api-service.ts
  src/api/types/index.ts
  src/api/types/project-types.ts
  src/api/types/project.ts
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/shared/form/__tests__/create-project.spec.tsx
  src/components/shared/form/create-project.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/create-project.ts
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/get-project-types.ts
  src/mocks/responses/get-projects-response.ts
  src/mocks/responses/index.ts
Due: npm run format:precommit, npm run lint:fix

allow any workspace invite link
  package-lock.json
  package.json
  src/api/api-service.ts
  src/api/types/workspace-type.ts
  src/components/shared/form/create-project.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/get-workspace-types.ts
  src/mocks/responses/index.ts
  src/utils/form-validation.ts
Due: npm run format:precommit, npm run lint:fix

fix test
  src/components/shared/form/__tests__/create-project.spec.tsx
Due: npm run format:precommit, npm run lint:fix

allow any workspace invite link (#236)
  package-lock.json
  package.json
  src/api/api-service.ts
  src/api/types/workspace-type.ts
  src/components/shared/form/__tests__/create-project.spec.tsx
  src/components/shared/form/create-project.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/get-workspace-types.ts
  src/mocks/responses/index.ts
  src/utils/form-validation.ts
Due: npm run format:precommit, npm run lint:fix

change post to get
  src/api/api-service.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> 1.0.25
  package-lock.json
  package.json
Due: npm run format:precommit

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
