Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

add tests for browser utils
  src/utils/__tests__/browser-utils.spec.ts
Due: npm run format:precommit, npm run lint:fix

simplify response checking
  src/components/shared/form/feedback.tsx
Due: npm run format:precommit, npm run lint:fix

add project workspace tests for joining/leaving project
  src/components/projects/project-workspace/__tests__/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.tsx
  src/mocks/responses/signin-response.ts
Due: npm run format:precommit, npm run lint:fix

add test for oauth page
  src/pages/__tests__/oauth.spec.tsx
Due: npm run format:precommit, npm run lint:fix

modify jest config
  jest.config.js
Due: npm run format:precommit, npm run lint:fix

Workspace app install (#308)
  jest.config.js
  package-lock.json
  package.json
  src/api/types/index.ts
  src/api/types/project-detailed.ts
  src/api/types/workspace-app-auth.ts
  src/api/workspace-service.ts
  src/components/projects/project-workspace/__tests__/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/shared/form/feedback.tsx
  src/mocks/mock-workspace-service.ts
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/signin-response.ts
  src/mocks/responses/updated-project-response.ts
  src/pages/__tests__/oauth.spec.tsx
  src/pages/oauth.tsx
  src/utils/__tests__/browser-utils.spec.ts
  src/utils/browser-utils.ts
Due: npm run format:precommit, npm run lint:fix

change redirect url to avoid intermitant failure message on navigate
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.78
  package-lock.json
  package.json
Due: npm run format:precommit

change redirect url to avoid intermitant failure message on navigate (#309)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

add additional oauth params, modify finish_auth remove body send params
  .env.development
  .env.release
  package-lock.json
  package.json
  src/api/service-resolver.ts
  src/api/types/workspace-app-auth.ts
  src/api/workspace-service.ts
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

add newline
  .env.development
  .env.next
  .env.release
Due: none

modify useMock to include test env check
  src/api/service-resolver.ts
Due: npm run format:precommit, npm run lint:fix

set use mock
  .env.development
Due: none

add additional tests
  src/pages/__tests__/oauth.spec.tsx
Due: npm run format:precommit, npm run lint:fix

add test
  src/pages/__tests__/oauth.spec.tsx
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

add additional oauth params, modify finish_auth remove body send params (#310)
  .env.development
  .env.release
  package-lock.json
  package.json
  src/api/service-resolver.ts
  src/api/types/workspace-app-auth.ts
  src/api/workspace-service.ts
  src/pages/__tests__/oauth.spec.tsx
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

add nonce generation as part of component state to avoid regeneration on re-renders
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.80
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

add nonce generation as part of component state to avoid regeneration… (#311)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

link readme to site
  README.md
Due: npm run format:precommit

Readme (#313)
  README.md
Due: npm run format:precommit

add workspace fields to detailed project response
  package-lock.json
  package.json
  src/api/types/project-detailed.ts
  src/components/projects/project-workspace/project-workspace.tsx
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/updated-project-response.ts
Due: npm run format:precommit, npm run lint:fix

add workspace fields to detailed project response (#314)
  package-lock.json
  package.json
  src/api/types/project-detailed.ts
  src/components/projects/project-workspace/project-workspace.tsx
  src/mocks/responses/get-project-response.ts
  src/mocks/responses/updated-project-response.ts
Due: npm run format:precommit, npm run lint:fix

expand workspace tab to include workspace info once app installed
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

change expression ordering
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

expand workspace tab to include workspace info once app installed (#315)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/pages/oauth.tsx
Due: npm run format:precommit, npm run lint:fix

left align workspace content
  package-lock.json
  package.json
  src/api/workspace-service.ts
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

left align workspace content (#316)
  package-lock.json
  package.json
  src/api/workspace-service.ts
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

adjust flex flow for workspace content
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

bump app version -> v1.4.0
  package-lock.json
  package.json
Due: npm run format:precommit

Workspace (#317)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

shift workspace tab
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

shift workspace tab (#318)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

modify api endpoint
  .env.release
Due: none

update packages
  package-lock.json
  package.json
Due: npm run format:precommit

Api (#322)
  .env.release
  package-lock.json
  package.json
Due: npm run format:precommit

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
