Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

bump version -> v1.7.0
  package.json
Due: npm run format:precommit

bump version -> v1.7.0 (#323)
  package.json
Due: npm run format:precommit

modify pub api/profiler endpoints
  .env.release
  package.json
Due: npm run format:precommit

modify pub api/profiler endpoints (#324)
  .env.release
  package.json
Due: npm run format:precommit

modify worskapce app endpoint
  .env.release
Due: none

bump version -> 1.9.0
  package.json
Due: npm run format:precommit

Workspace endpoint (#325)
  .env.release
  package.json
Due: npm run format:precommit

Hide signup/signin pages from user
  src/components/index-page/hero.tsx
  src/helpers/user-auth-helper.ts
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run format:precommit, npm run lint:fix

Avoid infinite location.back() in redirect to '/signin'
  src/components/shared/form/create-project.tsx
Due: npm run format:precommit, npm run lint:fix

Make recent devs mock ids unique
  src/mocks/responses/get-recent-devs.ts
Due: npm run format:precommit, npm run lint:fix

Make nav items stateful
  src/components/shared/__tests__/navigation.spec.tsx
  src/components/shared/layout/layout.tsx
  src/components/shared/navigation/navigation.tsx
Due: npm run format:precommit, npm run lint:fix

Refactor profile.tsx and avoid memory leaks
  src/components/shared/navigation/profile.tsx
Due: npm run format:precommit, npm run lint:fix

Improve README with comprehensive documentation
  README.md
Due: npm run format:precommit

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
