Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run format:precommit", "npm run lint:fix"],
  "*.{json,md}": ["npm run format:precommit"]
}

Fix api call (#237)
  package-lock.json
  package.json
  src/api/api-service.ts
Due: npm run format:precommit, npm run lint:fix

render workspace logos using src urls from server
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/components/projects/projects-gallery/card.tsx
  src/components/projects/projects-gallery/panel.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/images/index.ts
  src/mocks/responses/get-projects-response.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.26
  package-lock.json
  package.json
Due: npm run format:precommit

removed unused workspace logo images
  src/images/discord.svg
  src/images/slack.svg
Due: none

Change projects gallery (#238)
  package-lock.json
  package.json
  src/components/projects/projects-gallery/__tests__/card.spec.tsx
  src/components/projects/projects-gallery/__tests__/panel.spec.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/components/projects/projects-gallery/card.tsx
  src/components/projects/projects-gallery/panel.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/images/discord.svg
  src/images/index.ts
  src/images/slack.svg
  src/mocks/responses/get-projects-response.ts
Due: npm run format:precommit, npm run lint:fix

add monaco editor
  package-lock.json
  package.json
Due: npm run format:precommit

add monaco editor (#239)
  package-lock.json
  package.json
Due: npm run format:precommit

project workspaces page - work in progress. Add initial layout with content
  .vscode/extensions.json
  package.json
  src/api/types/index.ts
  src/api/types/project-detailed.ts
  src/api/types/project-user-detailed.ts
  src/components/projects/project-workspace/__tests__/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

project workspaces page - work in progress. Add initial layout with content (#240)
  .vscode/extensions.json
  package.json
  src/api/types/index.ts
  src/api/types/project-detailed.ts
  src/api/types/project-user-detailed.ts
  src/components/projects/project-workspace/__tests__/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.spec.tsx
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/card-title.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

add dependency array to avoid useEffect call on re-renders
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

add dependency array to avoid useEffect call on re-renders (#241)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

add technology pills to project workspace page
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/card-tags.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.30
  package-lock.json
  package.json
Due: npm run format:precommit

add technology pills to project workspace page (#244)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/card-tags.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

add timezone to project workspace page
  src/components/projects/project-workspace/project-workspace.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

terser logic
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.31
  package-lock.json
  package.json
Due: npm run format:precommit

add timezone to project workspace page (#245)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/mocks/responses/get-project-response.ts
Due: npm run format:precommit, npm run lint:fix

add workspace/repo links, fetch workspace types
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/images/git.png
  src/images/index.ts
Due: npm run format:precommit, npm run lint:fix

add workspace/repo links, fetch workspace types (#246)
  package-lock.json
  package.json
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/images/git.png
  src/images/index.ts
Due: npm run format:precommit, npm run lint:fix

prevRouterProps may be undefined so causes app to throw error
  gatsby-browser.js
  package-lock.json
  package.json
Due: npm run format:precommit, npm run lint:fix

prevRouterProps may be undefined so causes app to throw error (#247)
  gatsby-browser.js
  package-lock.json
  package.json
Due: npm run format:precommit, npm run lint:fix

remove codecov.yml
  codecov.yml
Due: none

bump version -> 1.0.34
  package-lock.json
  package.json
Due: npm run format:precommit

Codecov (#248)
  codecov.yml
  package-lock.json
  package.json
Due: npm run format:precommit

add workspace types context, and use context across components
  gatsby-browser.js
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/contexts/index.ts
  src/contexts/workspace-types-context.tsx
  src/images/discord.svg
  src/images/index.ts
  src/images/slack.svg
  src/mocks/responses/get-workspace-types.ts
Due: npm run format:precommit, npm run lint:fix

remove workspace types api call
  src/components/shared/form/create-project.tsx
Due: npm run format:precommit, npm run lint:fix

add workspace types context, and use context across components (#249)
  gatsby-browser.js
  src/components/projects/project-workspace/project-workspace.tsx
  src/components/projects/projects-gallery/projects-gallery.tsx
  src/components/shared/form/create-project.tsx
  src/contexts/index.ts
  src/contexts/workspace-types-context.tsx
  src/images/discord.svg
  src/images/index.ts
  src/images/slack.svg
  src/mocks/responses/get-workspace-types.ts
Due: npm run format:precommit, npm run lint:fix

bump version -> v1.0.35
  package-lock.json
  package.json
Due: npm run format:precommit

bump version -> v1.0.35 (#250)
  package-lock.json
  package.json
Due: npm run format:precommit

add workspace page button, add placeholder multi-tab-menu component
  package-lock.json
  package.json
  src/components/projects/project-workspace/multi-tab-menu.tsx
  src/components/projects/project-workspace/project-workspace.tsx
Due: npm run format:precommit, npm run lint:fix
